<div class="bg_btest">

    <div class="orengetitle">
        <h1>PROFILE</h1>
    </div>


    <div class="dogtwobox">
        <div class="dogtwobox1">
        ゼミ生
        </div>
        <div class="dogtwobox2">
        </div>
    </div>
    <div class="dogtwobox3">
        <div class="dogen">
            <%= image_tag 'emiri.jpg', class:"dog-image"%>
        </div>
        <div class="dogtwobox4">
            <div class="dogtwobox40">
            塚野えみり
            </div>
            <div class="dogtwobox40">
            つかの　えみり
            </div>
            <div class="dogtwobox41">
            東洋大学
            </div>
            <div class="dogtwobox42">
            経営学部
            </div>
            <div class="dogtwobox43">
            経営学科
            </div>
        </div>
    </div>



    <div class="gdogtwobox5">
        <div class="dogtwobox51">
            <div class="dogtwobox51a">
            共通点探し
            </div>
            <div class="gdogtwobox51b">
                <div class="dogtwobox51b1">
                血液型:❓
                </div>
                <div class="dogtwobox51b1">
                バイト：TGI Fridays 🍔
                </div>
                <div class="dogtwobox51b1">
                羽田空港のJALビジネスクラスラウンジ
                </div>
                <div class="dogtwobox51b1">
                日本食料亭👘
                </div>
                <div class="dogtwobox51b1">
                出身：新潟県長岡市
                </div>
                <div class="dogtwobox51b1">
                ##長期留学経験#イタリア
                </div>
                <div class="dogtwobox51b1">
                #ちょっと怠け物だけど中野ゼミで頑張ってる
                </div>
                <div class="dogtwobox51b1">
                #色々頑張りたい人#向上心高め
                </div>
                <div class="dogtwobox51b1">
                #面白い先輩と仲良くなりたい#大人数でワイワイゼミ
                </div>
            </div>
        </div>
        <div class="dogtwobox52">
            <div class="dogtwobox52a">
            メッセージ
            </div>
            <div class="gdogtwobox52b">
                <div class="dogtwobox51b1">
                大学で勉強も遊びも自分の好きなことも
                </div>
                <div class="dogtwobox51b1">
                全部頑張りたい人におすすめです！
                </div>
                <div class="dogtwobox51b1">
                少し変わった少し大変なゼミですが、
                </div>
                <div class="dogtwobox51b1">
                全力で取り組めばかなりの力がつきます。
                </div>
                <div class="dogtwobox51b1">
                中野ゼミ生は先生も含めてアットホームな雰囲気なので
                </div>
                <div class="dogtwobox51b1">
                先輩後輩関係なく仲良くなります絶対に！
                </div>
                <div class="dogtwobox51b1">
                きてね❤️
                </div>
            </div>
        </div>
        <div class="dogtwobox53">
            <div class="dogtwobox53a">
            趣味
            </div>
            <div class="gdogtwobox53b">
                <div class="dogtwobox51b1">
                旅行✈️ 
                </div>
                <div class="dogtwobox51b1">
                世界のいろんな国の美味しいものを食べること😋
                </div>
                <div class="dogtwobox51b1">
                ダンス💃
                </div>
                <div class="dogtwobox51b1">
                ３秒で寝れること
                </div>
            </div>
        </div>
    </div>

    <div class="dogtwobox6">
        <div class="dogtwobox61">
        好きな〇〇
        </div>
        <div class="dogtwobox62">
            <div class="dogtwobox51b1">
            好きな食べ物:ステーキミディアムレアとマッシュポテト、甲殻類🦐寿司🍣　でっかいハンバーガー
            </div>
            <div class="dogtwobox51b1">
            好きな映画: mission in possible, プラダを着た悪魔、ハリーポッター
            </div>
            <div class="dogtwobox51b1">
            好きなお菓子:チートス、かた揚げポテト、抹茶のアイスクリーム、チョコレートケーキ
            </div>
            <div class="dogtwobox51b1">
            好きなアニメか漫画:サザエさん
            </div>
            <div class="dogtwobox51b1">
            好きな音楽:dua lipa
            </div>
            <div class="dogtwobox51b1">
            好きな場所、観光地:イタリア🇮🇹
            </div>
        </div>
    </div>
</div>

    
