<div class="bg_gtest">

    <div class="orengetitle">
        <h1>PROFILE</h1>
    </div>


    <div class="dogtwobox">
        <div class="dogtwobox1">
        ゼミ生
        </div>
        <div class="dogtwobox2">
        </div>
    </div>
    <div class="dogtwobox3">
        <div class="dogen">
            <%= image_tag 'sora.jpg', class:"dog-image"%>
        </div>
        <div class="dogtwobox4">
            <div class="dogtwobox40">
            そら
            </div>
            <div class="dogtwobox42">
            経営学部
            </div>
            <div class="dogtwobox43">
            経営学科
            </div>
        </div>
    </div>



    <div class="gdogtwobox5">
        <div class="dogtwobox51">
            <div class="dogtwobox51a">
            共通点探し
            </div>
            <div class="gdogtwobox51b">
                <div class="dogtwobox51b1">
                血液型:A型
                </div>
                <div class="dogtwobox51b1">
                バイト：レンタカー
                </div>
                <div class="dogtwobox51b1">
                出身：東京
                </div>
                <div class="dogtwobox51b1">
                #巨人ファン
                </div>
                <div class="dogtwobox51b1">
                #サッカーも見る(プレミア、CL)
                </div>
            </div>
        </div>
        <div class="dogtwobox52">
            <div class="dogtwobox52a">
            メッセージ
            </div>
            <div class="gdogtwobox52b">
                <div class="dogtwobox51b1">
                学年の垣根を超えて仲が良いのは
                </div>
                <div class="dogtwobox51b1">
                中野ゼミの魅力だと思います。
                </div>
                <div class="dogtwobox51b1">
                自己成長はもちろん、
                </div>
                <div class="dogtwobox51b1">
                組織として切磋琢磨しながら成長していきたい人、
                </div>
                <div class="dogtwobox51b1">
                大歓迎です。
                </div>
            </div>
        </div>
        <div class="dogtwobox53">
            <div class="dogtwobox53a">
            趣味
            </div>
            <div class="gdogtwobox53b">
                <div class="dogtwobox51b1">
                野球観戦
                </div>
                <div class="dogtwobox51b1">
                サッカー観戦
                </div>
                <div class="dogtwobox51b1">
                サウナ
                </div>
                <div class="dogtwobox51b1">
                ドライブ
                </div>
                <div class="dogtwobox51b1">
                ビリヤード、ダーツ、カラオケ
                </div>
            </div>
        </div>
    </div>

    <div class="dogtwobox6">
        <div class="dogtwobox61">
        好きな〇〇
        </div>
        <div class="dogtwobox62">
            <div class="dogtwobox51b1">
            好きな食べ物:そば
            </div>
            <div class="dogtwobox51b1">
            好きな映画:slam dunk
            </div>
            <div class="dogtwobox51b1">
            好きなお菓子:スニッカーズ
            </div>
            <div class="dogtwobox51b1">
            好きなアニメか漫画:NARUTO
            </div>
            <div class="dogtwobox51b1">
            好きな音楽:ONE OK ROCK
            </div>
            <div class="dogtwobox51b1">
            好きな場所、観光地:北海道
            </div>
        </div>
    </div>
</div>

    
