<div class="bg_dtest">
  <div class="dogtitle">
    <h1>MEMBER</h1>
  </div>

    <div class="dogonebox">
        <div class="dogonebox1">
        構成
        </div>
        <div class="dogonebox2">
        中野ゼミは、17期、18期、19期で構成されています。
        </div>
    </div>
  

    <div class="dogtwobox">
        <div class="dogtwobox1">
        担当教員
        </div>
        <div class="dogtwobox2">
        </div>
    </div>
    <div class="dogtwobox3">
        <div class="dogen">
            <%= image_tag 'nakanot.png', class:"dog-image"%>
        </div>
        <div class="dogtwobox4">
        中野剛治　　　　　　　なかのこうじ　　　＜専門分野＞　　　経営学、経営組織論、イノベーション・マネジメント、ベンチャー企業論
        </div>
    </div>

    <div class="dogthreebox">
        <div class="dogthreebox1">
        ゼミ生
        </div>
        <div class="dogthreebox2">
        </div>
        <div class="dogthreebox3">
        仲のいい現役ゼミ生です
        </div>
        <div class="dogbutton">
            <%= link_to "現役ゼミ生との交流", tweets_apple_path %>
        </div>
    </div>
</div>
