<div class="bg_gtest">

    <div class="orengetitle">
        <h1>PROFILE</h1>
    </div>


    <div class="dogtwobox">
        <div class="dogtwobox1">
        ゼミ長
        </div>
        <div class="dogtwobox2">
        </div>
    </div>
    <div class="dogtwobox3">
        <div class="dogen">
            <%= image_tag 'chisei.jpg', class:"dog-image"%>
        </div>
        <div class="dogtwobox4">
            <div class="dogtwobox40">
            秋元　智成
            </div>
            <div class="dogtwobox40">
            あきもと　ちせい
            </div>
            <div class="dogtwobox41">
            東洋大学
            </div>
            <div class="dogtwobox42">
            経営学部
            </div>
            <div class="dogtwobox43">
            経営学科
            </div>
        </div>
    </div>



    <div class="gdogtwobox5">
        <div class="dogtwobox51">
            <div class="dogtwobox51a">
            共通点探し
            </div>
            <div class="gdogtwobox51b">
                <div class="dogtwobox51b1">
                血液型:A型
                </div>
                <div class="dogtwobox51b1">
                バイト：ラーメン屋さん
                </div>
                <div class="dogtwobox51b1">
                出身：千葉県流山市
                </div>
                <div class="dogtwobox51b1">
                #ゼミ長#基礎演習入門から入ゼミ
                </div>
                <div class="dogtwobox51b1">
                #基礎演習入門SA#世話好き
                </div>
            </div>
        </div>
        <div class="dogtwobox52">
            <div class="dogtwobox52a">
            メッセージ
            </div>
            <div class="gdogtwobox52b">
                <div class="dogtwobox51b1">
                中野ゼミは3学年が合同かつ仲良く活動しています！
                </div>
                <div class="dogtwobox51b1">
                さらに先輩たちは優しく接しやすい人が多いので
                </div>
                <div class="dogtwobox51b1">
                楽しく活動することができています！
                </div>
                <div class="dogtwobox51b1">
                ぜひ一緒に活動しましょう！なんでも相談して下さい
                </div>
            </div>
        </div>
        <div class="dogtwobox53">
            <div class="dogtwobox53a">
            趣味
            </div>
            <div class="gdogtwobox53b">
                <div class="dogtwobox51b1">
                野球観戦
                </div>
                <div class="dogtwobox51b1">
                ラーメン巡り
                </div>
                <div class="dogtwobox51b1">
                サウナ
                </div>
            </div>
        </div>
    </div>

    <div class="dogtwobox6">
        <div class="dogtwobox61">
        好きな〇〇
        </div>
        <div class="dogtwobox62">
            <div class="dogtwobox51b1">
            好きな食べ物:ラーメン🍜
            </div>
            <div class="dogtwobox51b1">
            好きな映画:君の名は。
            </div>
            <div class="dogtwobox51b1">
            好きなお菓子:ラムネ、じゃがりこ
            </div>
            <div class="dogtwobox51b1">
            好きなアニメか漫画:ONE PIECE
            </div>
            <div class="dogtwobox51b1">
            好きな音楽:backnumber
            </div>
            <div class="dogtwobox51b1">
            好きな場所、観光地:横浜スタジアム
            </div>
        </div>
    </div>
</div>

    
