

<div class="bg_test">
  <div class="main">
    <div class="main1">
      <h3>本気のゼミ。</h3>
    </div>
    <div class="main2">
      <h2>それが</h2>
    </div>
    <div class="main3">
      <h1>中野ゼミ。</h1>
    </div>
  </div>

    <div class="box">
      <div class="title">
        about us
      </div>    
      <div class="about">
        <div class="about1">
          中野ゼミって？
        </div>
        <div class="about2">
          何をしているゼミなの？活動時間は？中野ゼミってどんなゼミ？
        </div>
        <div class="button">
          <%= link_to "read more", tweets_job_path %>
        </div>
      </div>
    </div>


    <div class="box1">
      <div class="title">
      member
      </div>    
      <div class="indexabout">
        <div class="about1">
          暑苦しい人間関係
        </div>
        <div class="about2">
          顧問の先生紹介、ゼミ生たち
        </div>
        <div class="button">
          <%= link_to "read more", tweets_dog_path %>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="title">
        activities
      </div>  
      <div class="indexabout1">  
        <div class="about1">
          中野ゼミでは何ができる？
        </div>
        <div class="about2">
          なんでもできるよ！
        </div>
        <div class="button">
          <%= link_to "read more", tweets_cat_path %>
        </div>
      </div>
    </div>

    <div class="box1">
      <div class="title1">
        exchange seminer member
      </div>    
      <div class="indexabout2">
        <div class="about1">
          ゼミ選びに迷っているそこの君！
        </div>
        <div class="about2">
         ゼミの先輩が詳しく教えるよ！中野ゼミのことだけでなく他ゼミの特徴やゼミの選び方を教えてもらおう！！
        </div>
        <div class="button">
          <%= link_to "read more", tweets_apple_path %>
        </div>
      </div>
    </div>

    <div class="underbox">
    </div>



</div>