

<div class="bg_test">
  <div class="main">
    <div class="main1">
      <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
      <h3>本気のゼミ。</h3>
    </div>
    <div class="main2">
      <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
      <h2>それが</h2>
    </div>
    <div class="main3">
      <h1>中野ゼミ。</h1>
    </div>
    
  </div>

    <div class="box">
      <div class="title">
        about us
      </div>    
      <div class="about">
      
        <div class="about1">
         <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
          中野ゼミってどんなゼミ？
        </div>
        <div class="about2">
          何をしているゼミなの？
        </div>
        <div class="about2">
          活動時間は？中野ゼミってどんなゼミ？
        </div>
        <div class="about2">
          中野ゼミってどんなゼミ？
        </div>
        <div class="button">
          <%= link_to "read more", tweets_job_path %>
        </div>
      </div>
    </div>


    <div class="box1">
      <div class="title">
      member
      </div>    
      <div class="indexabout">
        <div class="about1">
          "ちょっと濃いめの人間関係"
        </div>
        <div class="iabout2">
          これは、ゼミ生で決めたスローガンです
        </div>
        <div class="iabout2">
        とにかく仲のいいゼミ生や
        </div>
        <div class="iabout2">
          指導教員
        </div>
        <div class="iabout2">
          の紹介をしていますよ！
        </div>
        <div class="button">
          <%= link_to "read more", tweets_dog_path %>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="title">
        activities
      </div>  
      <div class="indexabout1">  
        <div class="about1">
          中野ゼミでは何ができる？
        </div>
        <div class="about2">
          なんでもできるよ！
        </div>
        <div class="about2">
        ゼミの活動は主に3つあります。
        </div>
        <div class="button">
          <%= link_to "read more", tweets_cat_path %>
        </div>
      </div>
    </div>

    <div class="box1">
      <div class="title1">
        exchange seminer member
      </div>    
      <div class="indexabout2">
        <div class="about1">
          ゼミ選びに迷っているそこの君！
        </div>
        <div class="about2">
         ゼミの先輩が詳しく教えるよ！
        </div>
        <div class="about2">
          中野ゼミのことだけでなく他ゼミの特徴やゼミの選び方を教えてもらおう！！
        </div>
        <div class="button">
          <%= link_to "read more", tweets_apple_path %>
        </div>
      </div>
    </div>


</div>



