<div class="bg_jtest">
  <div class="jobtitle">
    <h1>ABOUT US</h1>
  </div>


  <div class="onebox">
    <div class="onebox1">
    中野ゼミとは
    </div>
    <div class="onebox2">
    中野ゼミは、「新規事業を創造する組織と戦略」というテーマをもとに学問と実践を融合させた熱意あふれるゼミナールです。
    本ゼミでは全員がリーダーとしての意識を持ち、主体的に行動する「シェアドリーダーシップ」を掲げています。
    ゼミ生は互いに切磋琢磨しながら、自分自身だけでなく、周囲も成長させることを目指します。
    中野ゼミは単なる勉強の場ではありません。
    ゼミ生同士が深くつながり合い、辛いことも嬉しいことも全員で共有する、まさに「絆が深まる」場所です。
    先輩や同期との熱い人間関係を築く中で、社会で必要とされる思考力や発言力を鍛え、共に成長していくことができるゼミです。
    </div>
  </div>
  

  <div class="twobox">
    <div class="twobox1">
    中野ゼミの
    </div>
    <div class="twobox2">
    特徴
    </div>
  </div>

  <div class="bigenbox">
    <div class="enbox">
      <%= image_tag 'sangakunen.png', class:"job-image"%>
    </div>
    <div class="enbox">
      <%= image_tag 'atukurusi.png', class:"job1-image"%>
    </div>
    <div class="enbox">
      <%= image_tag 'chesu.png', class:"job2-image"%>
    </div>
  </div>

  <div class="minibox">
    <div class="minibox1">
    3学年合同ゼミ
    </div>
    <div class="minibox2">
    暑苦しい人間関係
    </div>
    <div class="minibox3">
    シェアードリーダーシップ
    </div>
  </div>

  <div class="threebox">
    <div class="threebox1">
    中野ゼミでは1年生から3年生までの学生が一緒に学び、先輩後輩隔てなく絆を深めます。この取り組みは、単なる知識の共有にとどまらず、先輩たちの考え方に触れ、自分の意見をぶつける機会となり、思考力や発言力が鍛えられます。
    </div>
    <div class="threebox1">
    中野ゼミの特徴は、一人の失敗を全員でカバーし、成功も苦しみも共に分かち合う姿勢です。笑いあり涙ありのゼミ生活を通じて、仲間との関係がさらに強固なものになります。
    </div>
    <div class="threebox1">
    ゼミ生全員がリーダーとしての意識を持ちながら行動し、主体性を持って活気あるゼミ活動を展開します。全員がそれぞれの役割を果たしながら、共に目標を達成する姿勢が求められます。
    </div>
  </div>

  <div class="fourbox">
    <div class="fourbox1">
      行動範囲
    </div>
    <div class="fourbox2">
    </div>
    <div class="fourbox3">
    ・暑っ苦しい人間関係: 中野ゼミでは、個々の成功や失敗を全員で共有し、互いに支え合う関係を築くことが行動規範の一つです。ゼミ生同士の絆は非常に強く、共に学び、共に成長する姿勢が求められます。
    ・シェアドリーダーシップ: 全員がリーダーとしての意識を持ち、主体的に行動することが中野ゼミの基本的な行動規範です。この姿勢をゼミ活動を通じて身につけて行くことで、社会で通用するビジネスパーソンへと成長していくことにつながります。
    </div>
  </div>
</div>
