<div class="bg_gtest">

    <div class="orengetitle">
        <h1>PROFILE</h1>
    </div>



    <div class="dogtwobox">
        <div class="dogtwobox1">
        副ゼミ長
        </div>
        <div class="dogtwobox2">
        </div>
    </div>
    <div class="dogtwobox3">
        <div class="dogen">
            <%= image_tag 'asuka2.jpg', class:"dog-image"%>
        </div>
        <div class="dogtwobox4">
            <div class="dogtwobox40">
            あすか
            </div>
            <div class="dogtwobox42">
            経営学部
            </div>
            <div class="dogtwobox43">
            マーケティング学科
            </div>
        </div>
    </div>



    <div class="gdogtwobox5">
        <div class="dogtwobox51">
            <div class="dogtwobox51a">
            共通点探し
            </div>
            <div class="gdogtwobox51b">
                <div class="dogtwobox51b1">
                血液型:O型
                </div>
                <div class="dogtwobox51b1">
                バイト：カフェ、パスタ屋さん
                </div>
                <div class="dogtwobox51b1">
                出身：福島県
                </div>
                <div class="dogtwobox51b1">
                #韓ドラ･KPOP大好き#ENFJに憧れてるINFJ
                </div>
                <div class="dogtwobox51b1">
                #おしゃれなカフェ沢山知ってます
                </div>
            </div>
        </div>
        <div class="dogtwobox52">
            <div class="dogtwobox52a">
            メッセージ
            </div>
            <div class="gdogtwobox52b">
                <div class="dogtwobox51b1">
                大学生活を充実させてくれる素敵なゼミです！
                </div>
                <div class="dogtwobox51b1">
                大変なことも一緒に乗り越えれる仲間を作ることができるので
                </div>
                <div class="dogtwobox51b1">
                是非中野ゼミ生に来てください✨️
                </div>
            </div>
        </div>
        <div class="dogtwobox53">
            <div class="dogtwobox53a">
            趣味
            </div>
            <div class="gdogtwobox53b">
                <div class="dogtwobox51b1">
                ライブ参戦
                </div>
                <div class="dogtwobox51b1">
                カフェ巡り
                </div>
                <div class="dogtwobox51b1">
                歌うこと
                </div>
                <div class="dogtwobox51b1">
                写真を撮ること
                </div>
            </div>
        </div>
    </div>

    <div class="dogtwobox6">
        <div class="dogtwobox61">
        好きな〇〇
        </div>
        <div class="dogtwobox62">
            <div class="dogtwobox51b1">
            好きな食べ物:チーズ、アボカド
            </div>
            <div class="dogtwobox51b1">
            好きな映画:実写版のアラジン
            </div>
            <div class="dogtwobox51b1">
            好きなお菓子:トッポ
            </div>
            <div class="dogtwobox51b1">
            好きなアニメか漫画:神様はじめました、君に届け
            </div>
            <div class="dogtwobox51b1">
            好きな音楽:K-POP
            </div>
            <div class="dogtwobox51b1">
            好きな場所、観光地:韓国のカフェ
            </div>
        </div>
    </div>
</div>
    






