<div class="bg_ltest">

    <div class="orengetitle">
        <h1>PROFILE</h1>
    </div>


    <div class="dogtwobox">
        <div class="dogtwobox1">
        ゼミ生
        </div>
        <div class="dogtwobox2">
        </div>
    </div>
    <div class="dogtwobox3">
        <div class="dogen">
            <%= image_tag 'souki.jpg', class:"dog-image"%>
        </div>
        <div class="dogtwobox4">
            <div class="dogtwobox40">
            森颯希
            </div>
            <div class="dogtwobox40">
            もり　そうき
            </div>
            <div class="dogtwobox41">
            東洋大学
            </div>
            <div class="dogtwobox42">
            経営学部
            </div>
            <div class="dogtwobox43">
            マーケティング学科
            </div>
        </div>
    </div>



    <div class="gdogtwobox5">
        <div class="dogtwobox51">
            <div class="dogtwobox51a">
            共通点探し
            </div>
            <div class="gdogtwobox51b">
                <div class="dogtwobox51b1">
                血液型:O型です　大雑把なとこは自覚してます
                </div>
                <div class="dogtwobox51b1">
                バイト：イタリアン居酒屋でキッチンやってます！
                </div>
                <div class="dogtwobox51b1">
                パスタやらリゾットやら作れるので、
                </div>
                <div class="dogtwobox51b1">
                コンロ貸してくれればなんでも作りに行きます！
                </div>
                <div class="dogtwobox51b1">
                出身：千葉県の松戸市
                </div>
                <div class="dogtwobox51b1">
                #頑張り屋#アウトドア人間
                </div>
                <div class="dogtwobox51b1">
                
                </div>
            </div>
        </div>
        <div class="dogtwobox52">
            <div class="dogtwobox52a">
            メッセージ
            </div>
            <div class="gdogtwobox52b">
                <div class="dogtwobox51b1">
                先輩後輩間の仲の良さは随一だと思います！
                </div>
                <div class="dogtwobox51b1">
                みんなからは優しくて、
                </div>
                <div class="dogtwobox51b1">
                好印象なメンズって呼ばれてるので
                </div>
                <div class="dogtwobox51b1">
                気軽に相談してね！
                </div>
            </div>
        </div>
        <div class="dogtwobox53">
            <div class="dogtwobox53a">
            趣味
            </div>
            <div class="gdogtwobox53b">
                <div class="dogtwobox51b1">
                小3〜高三までサッカーやってました！
                </div>
                <div class="dogtwobox51b1">
                最近はジムで筋トレしてます！
                </div>
            </div>
        </div>
    </div>

    <div class="dogtwobox6">
        <div class="dogtwobox61">
        好きな〇〇
        </div>
        <div class="dogtwobox62">
            <div class="dogtwobox51b1">
            好きな食べ物:焼き鳥！特にささみ！
            </div>
            <div class="dogtwobox51b1">
            好きな映画:余命10年ガン泣きしました
            </div>
            <div class="dogtwobox51b1">
            好きなお菓子:グミ系
            </div>
            <div class="dogtwobox51b1">
            好きなアニメか漫画:ヒロアカとワンピース！
            </div>
            <div class="dogtwobox51b1">
            好きな音楽:One direction は神曲しかない
            </div>
            <div class="dogtwobox51b1">
            好きな場所、観光地:おきなわ
            </div>
        </div>
    </div>
</div>

    
