<div class="bg_gtest">

    <div class="orengetitle">
        <h1>PROFILE</h1>
    </div>


    <div class="dogtwobox">
        <div class="dogtwobox1">
        ゼミ生
        </div>
        <div class="dogtwobox2">
        </div>
    </div>
    <div class="dogtwobox3">
        <div class="dogen">
            <%= image_tag 'yuki.jpg', class:"dog-image"%>
        </div>
        <div class="dogtwobox4">
            <div class="dogtwobox40">
            三谷悠貴
            </div>
            <div class="dogtwobox40">
            みたに　ゆうき
            </div>
            <div class="dogtwobox41">
            東洋大学
            </div>
            <div class="dogtwobox42">
            経営学部
            </div>
            <div class="dogtwobox43">
            経営学科
            </div>
        </div>
    </div>



    <div class="gdogtwobox5">
        <div class="dogtwobox51">
            <div class="dogtwobox51a">
            共通点探し
            </div>
            <div class="gdogtwobox51b">
                <div class="dogtwobox51b1">
                血液型:たぶんA型
                </div>
                <div class="dogtwobox51b1">
                バイト：映画館、ビアガーデン
                </div>
                <div class="dogtwobox51b1">
                出身：東京都
                </div>
                <div class="dogtwobox51b1">
                #留学経験#プログラミング
                </div>
                <div class="dogtwobox51b1">
                #映画好き#自然好き
                </div>
            </div>
        </div>
        <div class="dogtwobox52">
            <div class="dogtwobox52a">
            メッセージ
            </div>
            <div class="gdogtwobox52b">
                <div class="dogtwobox51b1">
                中野ゼミでは、個人の成長だけでなく
                </div>
                <div class="dogtwobox51b1">
                チームとしての成長も感じられるので
                </div>
                <div class="dogtwobox51b1">
                楽しく活動することができています！
                </div>
                <div class="dogtwobox51b1">
                ぜひ一緒に活動しましょう！なんでも相談して下さいね！
                </div>
                <div class="dogtwobox51b1">
                なんでも相談して下さいね！
                </div>
            </div>
        </div>
        <div class="dogtwobox53">
            <div class="dogtwobox53a">
            趣味
            </div>
            <div class="gdogtwobox53b">
                <div class="dogtwobox51b1">
                映画鑑賞
                </div>
                <div class="dogtwobox51b1">
                テニス、テニス鑑賞
                </div>
                <div class="dogtwobox51b1">
                睡眠
                </div>
            </div>
        </div>
    </div>

    <div class="dogtwobox6">
        <div class="dogtwobox61">
        好きな〇〇
        </div>
        <div class="dogtwobox62">
            <div class="dogtwobox51b1">
            好きな食べ物:生のタコ
            </div>
            <div class="dogtwobox51b1">
            好きな映画:ベスト・キッド
            </div>
            <div class="dogtwobox51b1">
            好きなお菓子:うめねり
            </div>
            <div class="dogtwobox51b1">
            好きなアニメか漫画:特になし
            </div>
            <div class="dogtwobox51b1">
            好きな音楽:だいたい好き
            </div>
            <div class="dogtwobox51b1">
            好きな場所、観光地:家、ベットの上
            </div>
        </div>
    </div>
</div>




