<div class="bg_gtest">

    <div class="orengetitle">
        <h1>PROFILE</h1>
    </div>


    <div class="dogtwobox">
        <div class="dogtwobox1">
        ゼミ生
        </div>
        <div class="dogtwobox2">
        </div>
    </div>
    <div class="dogtwobox3">
        <div class="dogen">
            <%= image_tag 'maochi.jpg', class:"dog-image"%>
        </div>
        <div class="dogtwobox4">
            <div class="dogtwobox40">
            まお
            </div>
            <div class="dogtwobox42">
            経営学部
            </div>
            <div class="dogtwobox43">
            経営学科
            </div>
        </div>
    </div>



    <div class="gdogtwobox5">
        <div class="dogtwobox51">
            <div class="dogtwobox51a">
            共通点探し
            </div>
            <div class="gdogtwobox51b">
                <div class="dogtwobox51b1">
                血液型:A型
                </div>
                <div class="dogtwobox51b1">
                バイト：ケーキ屋
                </div>
                <div class="dogtwobox51b1">
                出身：東京都
                </div>
            </div>
        </div>
        <div class="dogtwobox52">
            <div class="dogtwobox52a">
            メッセージ
            </div>
            <div class="gdogtwobox52b">
                <div class="dogtwobox51b1">
                ただBBQしてるより、
                </div>
                <div class="dogtwobox51b1">
                ちゃんと学んでちゃんと仲間作る方が
                </div>
                <div class="dogtwobox51b1">
                生きてるって感じだよ‼️
                </div>
            </div>
        </div>
        <div class="dogtwobox53">
            <div class="dogtwobox53a">
            趣味
            </div>
            <div class="gdogtwobox53b">
                <div class="dogtwobox51b1">
                サッカー
                </div>
                <div class="dogtwobox51b1">
                韓国
                </div>
            </div>
        </div>
    </div>

    <div class="dogtwobox6">
        <div class="dogtwobox61">
        好きな〇〇
        </div>
        <div class="dogtwobox62">
            <div class="dogtwobox51b1">
            好きな食べ物:さんま
            </div>
            <div class="dogtwobox51b1">
            好きな映画:Back To The Future
            </div>
            <div class="dogtwobox51b1">
            好きなお菓子:全部
            </div>
            <div class="dogtwobox51b1">
            好きなアニメか漫画:ハイキュー
            </div>
            <div class="dogtwobox51b1">
            好きな音楽:全部
            </div>
            <div class="dogtwobox51b1">
            好きな場所、観光地:友達の家
            </div>
        </div>
    </div>
</div>

    