<div class="bg_gtest">

    <div class="orengetitle">
        <h1>PROFILE</h1>
    </div>


    <div class="dogtwobox">
        <div class="dogtwobox1">
        元ゼミ長
        </div>
        <div class="dogtwobox2">
        </div>
    </div>
    <div class="dogtwobox3">
        <div class="dogen">
            <%= image_tag 'yuuna.jpg', class:"dog-image"%>
        </div>
        <div class="dogtwobox4">
            <div class="dogtwobox40">
            杉山優菜
            </div>
            <div class="dogtwobox40">
            すぎやま　ゆうな
            </div>
            <div class="dogtwobox41">
            東洋大学
            </div>
            <div class="dogtwobox42">
            経営学部
            </div>
            <div class="dogtwobox43">
            経営学科
            </div>
        </div>
    </div>



    <div class="gdogtwobox5">
        <div class="dogtwobox51">
            <div class="dogtwobox51a">
            共通点探し
            </div>
            <div class="gdogtwobox51b">
                <div class="dogtwobox51b1">
                血液型:A型
                </div>
                <div class="dogtwobox51b1">
                バイト：ラーメン屋さん
                </div>
                <div class="dogtwobox51b1">
                出身：茨城県
                </div>
                <div class="dogtwobox51b1">
                #温厚
                </div>
                <div class="dogtwobox51b1">
                #笑顔☺
                </div>
            </div>
        </div>
        <div class="dogtwobox52">
            <div class="dogtwobox52a">
            メッセージ
            </div>
            <div class="gdogtwobox52b">
                <div class="dogtwobox51b1">
                先生・生徒・学年関係なく、人と深く関わるゼミです！
                </div>
                <div class="dogtwobox51b1">
                私は、ゼミではたくさん悩んで学んで、
                </div>
                <div class="dogtwobox51b1">
                プライベートでもたくさんの
                </div>
                <div class="dogtwobox51b1">
                大好きな同期・後輩・先輩と遊んで、
                </div>
                <div class="dogtwobox51b1">
                本当に大成長・大充実の大学生活でした^ ^
                </div>
            </div>
        </div>
        <div class="dogtwobox53">
            <div class="dogtwobox53a">
            趣味
            </div>
            <div class="gdogtwobox53b">
                <div class="dogtwobox51b1">
                LINEスタンプ作成
                </div>
                <div class="dogtwobox51b1">
                編み物
                </div>
                <div class="dogtwobox51b1">
                バスケ
                </div>
            </div>
        </div>
    </div>

    <div class="dogtwobox6">
        <div class="dogtwobox61">
        好きな〇〇
        </div>
        <div class="dogtwobox62">
            <div class="dogtwobox51b1">
            好きな食べ物:トムヤムクン🌿
            </div>
            <div class="dogtwobox51b1">
            好きな映画:リメンバー・ミー
            </div>
            <div class="dogtwobox51b1">
            好きなお菓子:柿の種の梅味
            </div>
            <div class="dogtwobox51b1">
            好きなアニメか漫画:ワンピース☠️
            </div>
            <div class="dogtwobox51b1">
            好きな音楽:西野カナ
            </div>
            <div class="dogtwobox51b1">
            好きな場所、観光地:夜の横浜結構好きです🫶
            </div>
        </div>
    </div>
</div>

    
