<div class="bg_ltest">

    <div class="orengetitle">
        <h1>PROFILE</h1>
    </div>


    <div class="dogtwobox">
        <div class="dogtwobox1">
        ゼミ生
        </div>
        <div class="dogtwobox2">
        </div>
    </div>
    <div class="dogtwobox3">
        <div class="dogen">
            <%= image_tag 'souta.jpg', class:"dog-image"%>
        </div>
        <div class="dogtwobox4">
            <div class="dogtwobox40">
            中嶋颯大
            </div>
            <div class="dogtwobox40">
            なかしまそうた
            </div>
            <div class="dogtwobox41">
            東洋大学
            </div>
            <div class="dogtwobox42">
            経営学部
            </div>
            <div class="dogtwobox43">
            経営学科
            </div>
        </div>
    </div>



    <div class="gdogtwobox5">
        <div class="dogtwobox51">
            <div class="dogtwobox51a">
            共通点探し
            </div>
            <div class="gdogtwobox51b">
                <div class="dogtwobox51b1">
                血液型:A型
                </div>
                <div class="dogtwobox51b1">
                バイト：ジムとパン屋
                </div>
                <div class="dogtwobox51b1">
                出身：神奈川県茅ヶ崎市 今は千葉住み
                </div>
                <div class="dogtwobox51b1">
                #生き方上手
                </div>
                <div class="dogtwobox51b1">
                #片道2時間#パネマジ無し
                </div>
            </div>
        </div>
        <div class="dogtwobox52">
            <div class="dogtwobox52a">
            メッセージ
            </div>
            <div class="gdogtwobox52b">
                <div class="dogtwobox51b1">
                1年生の皆に一番歳が近いからありのままのゼミを話すよー。
                </div>
                <div class="dogtwobox51b1">
                課題の量は経営学部のゼミ半分以上と同じくらいだよ。
                </div>
                <div class="dogtwobox51b1">
                ゼミ時間は確かに長めかな。
                </div>
                <div class="dogtwobox51b1">
                でもゼミ楽しくて一瞬！
                </div>
                <div class="dogtwobox51b1">
                中野ゼミの1番の良さは皆本当に仲良いこと！
                </div>
                <div class="dogtwobox51b1">
                先輩らびゅ〜。
                </div>
                <div class="dogtwobox51b1">
                中野ゼミの良さ悪さぜーーーんぶ話すから相談待ってるよー🙌
                </div>
            </div>
        </div>
        <div class="dogtwobox53">
            <div class="dogtwobox53a">
            趣味
            </div>
            <div class="gdogtwobox53b">
                <div class="dogtwobox51b1">
                食べ歩き
                </div>
                <div class="dogtwobox51b1">
                カラオケ
                </div>
                <div class="dogtwobox51b1">
                ユーモアだけで生きていくこと
                </div>
            </div>
        </div>
    </div>

    <div class="dogtwobox6">
        <div class="dogtwobox61">
        好きな〇〇
        </div>
        <div class="dogtwobox62">
            <div class="dogtwobox51b1">
            好きな食べ物:モンブラン
            </div>
            <div class="dogtwobox51b1">
            好きな映画:SPEC
            </div>
            <div class="dogtwobox51b1">
            好きなお菓子:お団子
            </div>
            <div class="dogtwobox51b1">
            好きなアニメか漫画:BLACK LAGOON.ワンピース、PSYCHO-PASS
            </div>
            <div class="dogtwobox51b1">
            好きな音楽:なにわ男子、AK-69
            </div>
            <div class="dogtwobox51b1">
            好きな場所、観光地:お客様が来る前のパン屋さん
            </div>
        </div>
    </div>
</div>

    
