.bg_atest {
    height: 4500px;                  
    padding:  5px;                             
    background-color: #403B47;   
}
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');

.appletitle {
    font-size: 30px;
    height: 200px;   
    color: #D9D9D9;
    animation-name:fadeLeftAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity:0;
    margin-left: 10%;
    font-family: 'Cherry Swash', cursive;
}
        
@keyframes fadeLeftAnime{
    from {
    opacity: 0;
    transform: translateX(-100px);
    }
        
    to {
    opacity: 1;
    transform: translateX(0);
    }
}

.appleexplain {
    width: 1550px;
    height: 350px;
    margin-top: 100px; 
    margin-left: 4%;                     
    background-color: white;   
}
.appleexplain1 {
    width: 1550px;
    height: 60px;
    font-size: 30px;  
    text-align: center;
}
.appleexplain2 {
    width: 1550px;
    height: 60px;
    font-size: 30px;     
    text-align: center;               
}
.appleexplain3 {
    width: 1550px;
    height: 60px;
    font-size: 30px; 
    text-align: center;
}
.appleexplain4 {
    width: 1550px;
    height: 60px;
    font-size: 30px;
    text-align: center;
}
.appleexplain5 {
    width: 1550px;
    height: 60px;
    font-size: 30px; 
    text-align: center;
}
.appleexplain6 {
    width: 1550px;
    height: 60px;
    font-size: 30px; 
    text-align: center; 
}

.appleexplaintwo {
    width: 1550px;
    height: 430px;
    margin-top: 100px; 
    margin-left: 4%;                     
    background-color: #FFE17A;   
}
.appleexplaintwo0 {
    width: 1550px;
    font-size: 30px;  
    color: #AD3939;
}
.appleexplaintwo1 {
    width: 1550px;
    font-size: 20px;  
    color: #AD3939;
}
.appleexplaintwo2 {
    width: 1550px;
    font-size: 20px;  
    color: #AD3939;                  
}
.appleexplaintwo3 {
    width: 1550px;
    font-size: 20px;  
    color: #AD3939;  
}
.appleexplaintwo4 {
    width: 1550px;
    font-size: 20px;  
    color: #AD3939;  
}
.appleexplaintwo5 {
    width: 1550px;
    font-size: 20px;  
    color: #AD3939;  
}
.appleexplaintwo6 {
    width: 1550px;
    font-size: 20px;  
    color: #AD3939;   
}
.appleexplaintwo7 {
    width: 1550px;
    font-size: 20px;  
    color: #AD3939;  
}
.appleexplaintwo8 {
    width: 1550px;
    font-size: 20px;  
    color: #AD3939;  
}
.appleexplaintwo9 {
    width: 1550px;
    font-size: 20px;  
    color: #AD3939;  
}
.appleexplaintwo10 {
    width: 1550px;
    font-size: 20px;  
    color: #AD3939;  
}


.appleline {
    margin-top: 5%;
    height: 30px;   
    font-size: 25px;
    background-color: #FFE17A;   
    text-align: center;
}

.applebuttonbox-big{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

.applebuttonbox {
    width: 300px; 
    margin-left: 250px;
    margin-right: 250px;
    
}

.applebox {
    width: 275px;
    height: 275px;  
    margin-top: 20px;
    background-color: #DB592A;  
    padding-top: 25px;
    padding-left: 25px;

    .apple-image{
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
}


.applebutton {
    background: #eee;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 220px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    box-shadow: 5px 5px 0 #000000;
    text-decoration: none;
}

.applebutton:hover {
    background-color: #c1c1c1;
    box-shadow: 0 0 0;
    transform: translate(5px, 5px);
}

.applecontext {
    font-size: 25px; 
    text-align: center;
    color: #D9D9D9;
}

