/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'font-awesome-sprockets';
@import 'font-awesome';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


 * {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: "Irish Grover", "Irish Grover", "Irish Grover",
    Kaisei Decol, "Kaisei Decol", Kaisei Decol;
  }
  header {
    background-color: #233B6C;
    height: 80px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  header a {
    color: white; 
    text-decoration: none; 
  }
  header h1 {
    color: white;
    margin-left: 20px;
  }
  .header-list {
    display: flex;
    align-items: center;

}
header ul {
  display: flex;
}
header li {
  list-style: none;
  margin-right: 40px;
}

.header1-image {
  width: 75px;
  height: 75px;
  margin-right: 300px;
}

.header2-image {
  width: 75px;
  height: 75px;
  margin-left: 300px;
}





footer {
  height: 80px;
  background-color: #233B6C;
  height: 60px;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: center; /* アイテムを中央に配置 */
  gap: 20px; /* アイコン間のスペースを設定 */
  padding: 10px;

}
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "@fortawesome/fontawesome-free/scss/fontawesome";



.fa-instagram{
  color: #FF0085
}
.fa-book{
  color: white
}

