.bg_ctest {              
    padding:  5px;                             
    background-color: #FFF8E1;   
}

.cattitle {
    height: 200px;                  
    font-size: 30px;                           
    animation-name:fadeLeftAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity:0;
    margin-left: 10%;
    font-family: "Hannari";
}
        
@keyframes fadeLeftAnime{
    from {
    opacity: 0;
    transform: translateX(-100px);
    }
        
    to {
    opacity: 1;
    transform: translateX(0);
    }
}

.catonebox{
    height: auto;
    background-color: white;

    .catonebox1{
        width: 500px;
        height: 90px;
        color: black;
        font-size: 40px;
        margin-left: 10%;
    }
    .catonebox2{
        height: 10px;
        color: black;
        font-size: 20px;
        text-align: center;
        padding: 50px; 
    }
    .catonebox20{
        color: red;
        height: 10px;
        font-size: 30px;
        padding: 50px; 
        text-align: center;
    }
}











.cattwobox{

    margin-top: 10%;
    background-color: white;

}
.cattwoboxmini{
    height: auto; 
    animation: scroll-anim linear;
    animation-timeline: view();
    animation-range: entry 0% contain 70%;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}
@keyframes scroll-anim {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}


.caten{
    width: 300px;
    height: 300px;
    border-radius: 60%;
    background-color: black; 
    margin: 0 auto;


}

.cat-image{
    width: 300px;
    height: 300px;
    border-radius: 60%;
}
.cattwobox10{
    height: 10px;
    color: red;
    font-size: 30px;
    text-align: center;
    padding: 50px; 
}
.cattwobox1{
    height: 10px;
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 50px; 
}



.catfivebox{
    height: 700px;
    margin-top: 5%;

    .catfivebox1{
        height: 90px;
        color: black;
        font-size: 30px;
        text-align: center;
    }
    .catfivebox2{
        height: 500px;
        width: 900px;
        color: black;
        background-color: #D9D9D9;
        margin: 0 auto;
        margin-bottom: 5%;
    }
    .catone-image{
        height: 500px;
        width: 900px;
    }
}
.catsixbox{
    height: 700px;
    margin-top: 5%;

    .catsixbox1{
        height: 90px;
        color: black;
        font-size: 30px;
        text-align: center;

    }
    .catsixbox2{
        height: 500px;
        width: 900px;
        color: black;
        background-color: #D9D9D9;
        margin: 0 auto;
        margin-bottom: 5%;
    }
    .cattwo-image{
        height: 500px;
        width: 900px;
    
    }
}
