.bg_gtest {
    height: 2000px;                  
    padding:  5px;                             
    background-color: #FFF5E3;   
}

.orenge1{
    width: 250px;
    height: 250px;
    border-radius: 50%;

}


.orengebox {
    width: 250px;
    height: 250px;  
    margin-top: 20px;
    margin-left: 675px;

    margin-bottom: -30px;

    .orenge-image{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        z-index: 1;
        position: absolute;
    }
}


.triangle {
    height: calc(600px / 2);
    width: 600px;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background-color: #DB592A;
    margin-left: 30%;
    z-index: -1;
}



.grapebox2 {
    width: 600px;
    height: 1100px;  
    margin-left: 30%;
    background-color: #DB592A;  

}

.orengesend{
    width: 2900px;
    height: 100vh;
    background-color: #D9D9D9;   
    margin-top: 100px; 
}
.reversebutton{
    width: 350px;
    height: 50px;
    font-size: 40px;
    background-color: gray;  
}





.purofiletitle{
    font-size: 40px;
    width: 600px;
    height: 100px;
    color: white;
    margin-left: 45px;
}




.gdogtwobox5{
    color: black;
    display: flex;
    margin-top: 50px;
    height: auto; 
    animation: scroll-anim linear;
    animation-timeline: view();
    animation-range: entry 0% contain 70%;
}
@keyframes scroll-anim {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}


.gdogtwobox51b{
    color: black;
    font-size: 30px;
    width: 400px;
    height: auto;
    background-color: white;
}

.gdogtwobox52b{
    color: black;
    font-size: 30px;
    width: 600px;
    height: auto;
    background-color: white;
}


.gdogtwobox53b{
    color: black;
    font-size: 30px;
    height: auto;
    width: 400px;
    background-color: white;
}






