
.bg_test {
    height: 2900px;                  
    padding:  5px;                             
    background-color: #FFEEB9; 
}

.main{
    font-size: 50px;
    width: 600px;
    height: 400px;
    margin-left: 30%;
    margin-top: 100px;
    .main1{
        font-size: 30px;
        width: 600px;
        height: 100px;
        margin-left: 30%;
        font-family: "Kokoro";

    }
    .main2{
        font-size: 40px;
        width: 600px;
        height: 100px;
        margin-left: 30%;
        font-family: "Kokoro";
    }
    .main3{
        font-size: 50px;
        width: 600px;
        height: 200px;
        margin-left: 15%;
        color: #9C312D;
    }
}

.box{
    width: 900px;
    margin-top: 100px;
    height: auto; 
    animation: scroll-anim linear;
    animation-timeline: view();
    animation-range: entry 0% contain 70%;
}   
@keyframes scroll-anim {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.box1{
    width: 900px;
    margin-left: 46%;
    margin-top: 100px;
    height: auto; 
    animation: scroll-anim linear;
    animation-timeline: view();
    animation-range: entry 0% contain 70%;
}
@keyframes scroll-anim {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
.title{
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    width: 800px; 
    height: auto; 
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
.title1{
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    width: 800px; 
    height: auto; 
}



.about{
    font-size: 40px;
    width: 900px;
    height: auto;
    background-color: white;
    box-shadow: 50px 50px 0 #AD3939;

}

.about1{
    font-size: 40px;
    height: 90px;
    color: black;
    text-align: center;
    font-family: "Nico Moji";
}

.about2{
    font-size: 30px;
    height: auto;
    color: black;
    text-align: center;
}
.iabout1{
    font-size: 40px;
    height: 90px;
    color: black;
    text-align: center;
}

.iabout2{
    font-size: 30px;
    height: auto;
    color: black;
    text-align: center;
}



.button{
    background: #eee;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 220px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    box-shadow: 5px 5px 0 #000000;
    text-decoration: none;
}

.button:hover {
    background-color: #c1c1c1;
    box-shadow: 0 0 0;
    transform: translate(5px, 5px);
}


.indexabout{
    font-size: 40px;
    width: 900px;
    height: 300px;
    background-color: white;
    box-shadow: -50px 50px 0 #5C7BEC;
    text-align: center;
        

}

.indexabout1{
    font-size: 40px;
    width: 900px;
    height: 300px;
    background-color: white;
    box-shadow: 50px 50px 0 #008000;

}

.indexabout2{
    font-size: 40px;
    width: auto;
    height: 300px;
    background-color: white;
    box-shadow: -50px 50px 0 #7A4980;
    text-align: center;
    
}