.bg_test {
    height: 900px;                  
    padding:  20px;                             
    background-color: #FFEEB9;   
}


.bg_test2 {
    height: 200px;               
    width:  400px;                  
    background-color: #AD3939;        
    padding:  20px;                 
    float:  right;                  
}