.bg_jtest {                
    padding:  5px;                             
    background-color: #FFF8E1;   
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.jobtitle {
    height: 200px;                  
    font-size: 30px;                           
    animation-name:fadeLeftAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity:0;
    margin-left: 10%;
    font-family: 'Amatic SC', cursive;
}
            
    @keyframes fadeLeftAnime{
        from {
        opacity: 0;
        transform: translateX(-100px);
        }
            
        to {
        opacity: 1;
        transform: translateX(0);
        }
    }


.onebox{
    height: 800px;
    background-color: white;

    .onebox1{
        width: 500px;
        height: 90px;
        font-size: 40px;
        color: black;
        margin-left: 10%;
    }
    .onebox2{
        color: black;
        height: 10px;
        font-size: 20px;
        padding: 50px; 
        text-align: center;
    }
    .onebox20{
        color: black;
        height: 10px;
        font-size: 30px;
        padding: 50px; 
        text-align: center;
    }
    .onebox21{
        color: red;
        height: 10px;
        font-size: 30px;
        padding: 50px; 
        text-align: center;
    }
    
}

.twoboxbigjob{
    background-color: white;
    height: 1200px;
}

.twobox{
    width: 900px;
    height: 100px;
    margin-top: 20%;
    margin-left: 10%;
    display: flex;
    justify-content: space-evenly;

    .twobox1{
        width: 250px;
        height: 100px;
        color: black;
        margin-top: 2%;
        font-size: 40px;
    }
    .twobox2{
        width: 800px;
        height: 100px;
        color: red;
        font-size: 70px;
    }
    
}


.bigenbox {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

.enbox {
	width: 300px;
	height: 300px;
	border-radius: 50%;
    display: flex;

    .job-image{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    .job1-image{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    .job2-image{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
}

.minibox{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

.minibox1{
    font-size: 30px;
    color: black;
    width: 300px;
    display: flex;
    text-align: center;
    margin-left: 3%;
}
.minibox2{
    font-size: 30px;
    width: 300px;
    color: black;
    display: flex;
}
.minibox3{
    font-size: 25px;
    width: 300px;
    color: black;
    display: flex;
}




.threebox{
    display: flex;
    justify-content: space-evenly;
}

.threebox10{
    margin-top: 5%;
    font-size: 16px;
    width: 380px;
    color: black;
    display: flex;
    height: auto; 
    animation: scroll-anim linear;
    animation-timeline: view();
    animation-range: entry 0% contain 70%;

    flex-direction: column;
    text-align: center;
    .threebox1{
        border: 1px solid white;
        height: 50px;
    }
}
@keyframes scroll-anim {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.threebox11{
    margin-top: 5%;
    margin-left: 20px;
    font-size: 16px;
    width: 380px;
    color: black;
    display: flex;
    height: auto; 
    animation: scroll-anim linear;
    animation-timeline: view();
    animation-range: entry 0% contain 70%;

    flex-direction: column;
    text-align: center;
    .threebox1{
        border: 1px solid white;
        height: 50px;
    }
}
@keyframes scroll-anim {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}







.fourbox{
    height: 1000px;
    background-color: white;
    margin-top: 10%;

    .fourbox1{
        color: black;
        font-size: 30px;
        text-align: center;
    }
    .fourbox2{
        width: 100px;
        height: 5px;
        background-color: #AD3939;
        margin: 0 auto;
        margin-bottom: 5%;
    }
    .fourbox3{
        color: black;
        font-size: 20px;
        text-align: center;
        height: 80px;

    }
}

.fourbox30{
    color: red;
    font-size: 30px;
    text-align: center;
    height: 80px;

}